@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

.bg-ai {
  background: url("/src/assets/bg-ai.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.form-bg {
  background: url("/src/assets/lines.png");
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: fixed; */
  width: 100vw;
}

.resume-class {
  /* border: 1px solid #000; */
  min-width: 484px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding-bottom: 20px;
  overflow: hidden;
  min-height: 100vh;
}

.resume-flex-container {
  background-color: #f1f8f9; /* Sets the background color */
  padding: 20px; /* Equivalent to p-5 (padding) */
  width: 100%; /* Equivalent to w-full */
  display: flex; /* Sets the element as a flex container */
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.flex-items-center-gap-3{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.horizontal-line {
  width: 2px;
  height: 1rem;
  background-color: black;
}

.resume-inner-container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.resume-username {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  justify-items: center;
}

.resume-flex-container .text-blue {
  color: #1e3a8a;
}

.resume-flex-container .text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.small-bold {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.resume-title-text {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #102694;
}

.resume-inner-container .text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.width-200-text-sm {
  width: 200px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

/* Media query for medium screens and up */
@media (min-width: 768px) {
  .resume-class {
    min-width: 484px;
  }
}

/* Space between child elements, equivalent to space-y-4 */
.resume-class > * {
  margin-bottom: 1rem; /* Adjust as needed for 4 units space (using rem or px) */
}

.resume-class > *:last-child {
  margin-bottom: 0; /* Remove margin-bottom from the last child */
}

.sidebar {
  @apply sticky left-0 top-0 flex h-screen w-fit flex-col justify-between border-r bg-gray pt-8 text-white max-md:hidden sm:p-4 xl:p-6 2xl:w-[355px];
}

.sidebar-logo {
  @apply text-[26px] font-bold text-black max-xl:hidden;
}

.sidebar-link {
  @apply flex gap-2 items-center py-1 md:p-3 rounded-lg justify-start;
}

.sidebar-label {
  @apply font-semibold text-black max-md:hidden;
}

/* Mobile Root Layout */
.root-layout {
  @apply flex min-h-16 items-center justify-between p-5 sm:p-8 md:hidden;
}

/* styles.css */

.progress-container {
  @apply relative h-3 bg-[#e0e0e0] rounded-2xl overflow-hidden mb-4;
}

.progress-bar {
  @apply h-full bg-red transition-all;
  transition: width 0.3s ease-in-out;
}

.step-indicator {
  @apply flex justify-end z-10 text-sm font-semibold gap-1 text-black;
  /* transform: translate(-50%, -50%); */
}
